# General
BACKEND_PORT=8000
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://localhost
WHITELISTED_IPS=192.192.255.255,10.12.253.75
CLIENT_URI=http://localhost:3000
SERVER_URI=http://localhost:8000/api/v1
SERVER_IP=255.255.255.255

# Database
DATABASE_TYPE=mysql
DATABASE_HOST=localhost
DATABASE_USERNAME=database-username
DATABASE_PASSWORD=database-password
DATABASE_NAME=database-name
DATABASE_SCHEMA=database-schema
DATABASE_PORT=3306
DATABASE_URL=${DATABASE_TYPE}://${DATABASE_USERNAME}:${DATABASE_PASSWORD}@${DATABASE_HOST}:${DATABASE_PORT}/${DATABASE_NAME}?schema=${DATABASE_SCHEMA}

# Cookies
COOKIE_ACCESS_TOKEN_NAME=Ukmashop-Access-Token
COOKIE_REFRESH_TOKEN_NAME=Ukmashop-Refresh-Token
COOKIE_OAUTH2_TOKEN_NAME=Ukmashop-OAuth2-Token
COOKIE_DOMAIN=localhost
COOKIE_SECRET=cookie-secret

# JWT
JWT_SECRET=jwt-secret
JWT_ACCESS_TOKEN_DURATION=1d
JWT_REFRESH_TOKEN_DURATION=1m
JWT_ISSUER=jwt-issuer
JWT_AUDIENCE=jwt-audience

# Passwords
USER_PASSWORD_SALT_PREFIX=user-passwors-salt-prefix
USER_PASSWORD_SALT_SUFFIX=user-password-salt-suffix
USER_PASSWORD_SALT_ROUNDS=10

# Logger
DEFAULT_LOG_LEVEL=debug

# Docker
DOCKER_EXTERNAL_BACKEND_PORT=8000
DOCKER_EXTERNAL_DATABASE_PORT=3306
DOCKER_EXTERNAL_NGINX_PORT=80